[Unit]
Description=TURN 인증서 주기적 조정 및 검증

[Timer]
OnBootSec=5m
OnCalendar=*-*-* 00,06,12,18:17:00
RandomizedDelaySec=15m
Persistent=true
Unit=round-turn-certificate-reconcile.service

[Install]
WantedBy=timers.target
