# /etc/round/restic-r2.env로 복사하고 mode 0600을 유지합니다.
# R2 bucket은 미리 만들고 ROUND 백업 전용 object read/write key만 사용합니다.
RESTIC_REPOSITORY=s3:https://ACCOUNT_ID.r2.cloudflarestorage.com/BUCKET_NAME/round
RESTIC_PASSWORD_FILE=/etc/round/restic-password
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=auto
